.navbar {
    background-color: #343a40; /* Fondo del navbar */
  }
  
  .navbar-brand, .nav-link {
    color: #ffffff; /* Color del texto */
  }
  
  .nav-link:hover {
    color: #f8f9fa; /* Color del texto al pasar el mouse */
  }
  